velo.nikitabond.ru {
    # Фронтенд Vue.js
    handle_path /* {
        reverse_proxy frontend:8080
    }

    # API бекенда
    handle_path /api/* {
        uri strip_prefix /api
        reverse_proxy backend:3000
    }

    # Админская панель
    handle_path /admin/* {
        reverse_proxy frontend:8080
    }
}
